name: old Daily Critics Ranking

on:
  workflow_dispatch:


jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install pandas requests numpy

      - name: Run ranking pipeline
        env:
          OMDB_API_KEY: ${{ secrets.OMDB_API_KEY }}
          PODCHASER_API_KEY: ${{ secrets.PODCHASER_API_KEY }}
        run: |
          python src/rank_all_media.py

      - name: Commit updated outputs
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add outputs/
          git commit -m "Daily rankings update" || echo "No changes"
          git push
